.message {
	background: #eee;
	width: 35em;
	padding: 1.5em;
	margin-left: -5em;
	margin-top: -15em;
}
#msg-title {
	color: #000;
}
TextField {
}
.spacing-top {
	padding-top: 1.5em;
}
.spacing-left {
	padding-left: 5em;
}
.hide {
  display: none;
} 
.show {
  display: block;
}